* {
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

#parent-container {
    display: flex;
    flex-direction: column;
    height: 100%;

}

/** Header and Navigation **/

.main-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;  
}

.community-png {
    margin: 5px;
    width: 5em;
    height: 5em;
}

#menu {
 display: flex;
 border-top: 5px solid #000;
 border-bottom: 5px solid #000; 
 background-color: #FF9824;
     width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
}

li {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 150%;
    margin: 0px 5px 0px;
    
}


li:hover,
.list:hover {
    transition: background-color .5s ease;
}

body {  
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #29ACE2;
}

.columns {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.columns-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  background: #eee;
  border: 5px solid #ccc;
  flex: ;
  padding: 20px;
}

.main-column {
  flex: 2;
}

.gallery-background {
    background-color: #eee
}

#providerPhoto {
    width: 25%;
    height: 25%;
}

#blurb  {
    text-align: center;
}

.2 {
    flex-direction: row-reverse;
}

.contact-section {
  background: #bdc3c7;
  padding: 30px 0 50px 0;
  text-align: center;
}
.contact-section h3 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  color: rgba(255, 255, 255, 0.9);
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.contact-section form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 880px;
  height: 450px;
  background: rgba(0, 0, 0, 0.32);
  text-align: left;
  padding: 10px 0;
}
.contact-section form .subject,
.contact-section form .content {
  width: 80%;
  margin: 0 auto;
}
.contact-section form .subject label,
.contact-section form .content label {
  display: block;
  padding: 0;
  margin: 0;
  font-family: 'Varela Round';
}
.contact-section form .id {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 80%;
  margin: 0 auto;
}
.contact-section form .id .name,
.contact-section form .id .email {
  display: inline-block;
  width: 45%;
}
.contact-section form .id .name label,
.contact-section form .id .email label {
  display: block;
  padding: 0;
  margin: 0;
  font-family: 'Varela Round';
}
.contact-section form .id .name input[name="email"],
.contact-section form .id .name input[name="name"],
.contact-section form .id .email input[name="email"],
.contact-section form .id .email input[name="name"] {
  width: 100%;
  height: 40px;
}
.contact-section form .subject {
  height: 62px;
}
.contact-section form .subject input[name="subject"] {
  width: 100%;
  height: 40px;
}
.contact-section form .content textarea {
  width: 100%;
  resize: none;
}
.contact-section form .content button {
  margin: 0;
  float: right;
  background: #e74c3c;
  padding: 8px 77px;
  border: 1px solid #e74c3c;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-family: 'Varela Round';
  transition: all .3;
}
.contact-section form .content button:hover {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.7);
}


ul {
    padding: 0;
    
}

ul.navigation li {
    display: inline-block;
    text-align: center;
    list-style-type: disc;
}

ul li a {
    display: inline;
    
    line-height: 60px;

    width: 100%;

    text-decoration: none;

    color: #fff;

    transition-duration: .25s;
}



select {
    width: 100%;
    display: block;
}




ul li a:hover {
    color: #000;
    font-size: 105%;
}



/** Main Content **/
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.main-content-area-1 {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 97%;
}

.area-1-content {
    padding: 10px;
    margin-top: 0px;
}

video {
    border: solid 5px #000;
}


/** Footer **/


.main-footer {
    height: 91px;
    background: #d9e4ea;
    margin-top:  auto;
    border-top: solid 5px #000;
}


.footer-inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.social-media-links {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content:  center;
    
}

.social-media-links a img{
    height: 5em;
    transition-duration: .25s; 
}

.social-media-links a img:hover {
    height: 7em;
    width: ;
}


/** Image Galley **/
.img-gallery {

    font-size: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    order: 3;
}

.img-gallery > * {
    flex: auto;
    width: 200px;
    justify-content: space-between;
}
.img-gallery > * img {
    width:100%;
    height: auto;
}

.gallery-img {
    border: solid 2px black;
    margin: 2px;
}

/** Media Queries **/

/** Mobile Queries **/
@media (max-width: 645px) {
    #menu ul {
        display: none;
    } 
    .ACT {
    font-size: 1.5em;
    }
    .community-png {
        width: 4em;
        height: 4em;
    }
    .main-content-area-1 {
        width: 100%;
    }
    
}

/** Medium to large Screen Queries **/
@media (min-width: 646px) {
    #menu select,
    #menu button {
        display: none;
    } 
    .main-header {
        flex-direction: row;
    }
    .community-png {
        margin: 10px;
    }
}



